<p id="notice"><%= notice %></p>

<p>
  <strong>Quality:</strong>
  <%= @like.how_heard %>
</p>

<%= link_to 'Edit', book_like_path(@book.id, @like.id) %> |
<%= link_to 'Back', book_like_path(@book.id) %>
